body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Iosevka Charon', serif;  
    background-image: url('images/sky background.png');
    background-size: cover;
    background-position: right bottom;
    background-attachment: fixed;
    margin:0;
    padding: 0;   
}

.loginWindow{
    background: lightblue;
    border-radius: 10px;
    padding: 40px 30px;
    width: 400px;
    justify-content: center;
    box-shadow: 0 4px 32px gray;
}

.loginLogo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: forestgreen;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 60px;
}


.toggles{
    display: block;
    background:lightblue;
    border-radius: 8px;
    border-color: black;
    padding: 4px;
    margin-bottom: 15px;
}

.toggles a{
    flex:1;
    border-radius: 9px 0;
    background-color: lightgreen;
    color: black;
    text-align:center;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3ms;
    font-size: 20px;
}

.toggles button{
    flex:1;
    border-radius: 9px 0;
    background-color: lightgreen;
    color: black;
    text-align:center;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3ms;
    font-size: 20px;
}
.toggles a.active{
    background: darkgreen;
    color: antiquewhite;
}

.toggles button:focus{
    background: darkgreen;
    color: antiquewhite;
}

.treeImages img {
    max-height: 80vh;
    max-width: 100%;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

.field{
    display:flex;
    flex-direction: column;
    align-items:left;
    margin:20px;
    font-family: Sans-Serif;
}

.field label{
    text-align: left;
    font-size:26px;
    margin-bottom: 10px;
}

.field input, select{
    max-width: 350px;
    border-radius: 8px;
    color: green;
    background: gainsboro;
    outline: none;
    font-size: 26px;
}

.showPassword{
    display:flex;
    align-items: center;
    color: black;
    margin-top: 10px;
}

.submitButton{
    display: block;
    flex:1;
    margin:auto;
    margin-top: 10px;
    background: cadetblue;
    color:black;
    width:200px;
    align-items:center;
    justify-content: center;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    text-decoration: none;
    font-family: sans-serif;
}

.flash{
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    font-family: Sans-Serif;
}
.flash.success{
    color:darkgreen;

}
.flash.error{
    color:crimson;
}

.homeWindow{
    border-radius: 10px;
    padding: 40px 30px;
    width: 100%;
    height: 100%;
    align-items: center;
}

header{
    position: fixed;
    top:0;
    left:0;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    width:100%;
    margin-bottom: 20px;
    background-color: antiquewhite;
    box-sizing: border-box;
    font-family: sans-serif;
}

header .button{
    display: flex;
    background: cadetblue;
    color:black;
    width:200px;
    height:50px;
    border: none;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

.homeLogo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: forestgreen;
    text-decoration: none;
    font-size: 60px;
}

.homeWelcome{
    color: black;
    font-size: 20px;
    margin-left: 20px;
    flex: 1;
    text-align: center;
}

.userStats{
    display: flex;
    color:black;
    justify-content: center;
    margin-top: 50px;
    font-size: 25px;
}

.treeUserStats{
    display: flex;
    color:black;
    gap: 40px;
    margin-left:60px;
    justify-content: center;
    padding-top: 100px;
    font-size: 25px;
}

main{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding-top: 80px 80px;
}

.travelWindow{
    background-color: lightblue;
    padding: 30px 30px;
    width: 100%;
    max-width:500px;
    justify-content: center;
    box-shadow: 0 4px 32px gray;
    text-align: center;
}
.travelWindow h2{
    text-align: center;
    font-size: 35px;
    font-family: sans-serif;
}


.progressWindow{
    background-color: lightblue;
    padding: 30px 30px;
    width: 100%;
    max-width:700px;
    justify-content: center;
    box-shadow: 0 4px 32px gray;
    text-align: center;
}
.progressWindow h2{
    text-align: center;
    font-size: 35px;
    font-family: sans-serif;
}

.distanceRow{
    display: flex;
    gap: 10px;
}
.distanceRow input{
    max-width: 300px;
    border-radius: 8px;
    color: darkgreen;
    background: gainsboro;
    outline: none;
    font-size: 30px;
}

.buttonRow{
    display: flex;
    gap:10px;
    margin-top: 24px;
    justify-content: center;
}

.journeyParts{
    margin-top: 24px;
    width: 100%;
    max-width: 480px;
}
.journeyParts h3{
    text-align: center;
    font-family: sans-serif;
}

nav{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    font-family: sans-serif;
    z-index: 1000;
}

nav a{
    flex:1;
    border-radius: 9px 0;
    background-color: lightgreen;
    color: black;
    text-align:center;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3ms;
    font-size: 30px;
}

nav a.active
{
    background: darkgreen;
    color: antiquewhite;
}


.leaderboardWindow{
    background-color: lightblue;
    padding: 30px 30px;
    width: 100%;
    max-width:700px;
    justify-content: center;
    box-shadow: 0 4px 32px gray;
    text-align: center;
}

.leaderboardWindow h2{
    text-align: center;
    font-size: 35px;
    font-family: sans-serif;
}

.leaderboardTable{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.leaderboardTable th, .leaderboardTable td{
    padding: 10px 15px;
    text-align: center;
    border-bottom: 1px solid blue;
}

.leaderboardTable th{
    font-weight: bolder;
    background: aquamarine;
}

.currentUser{
    background-color: green;
    font-weight: bold;
}

.infoWindow{
    background-color: lightblue;
    padding: 80px 80px;
    padding-top: 80px;
    width: 100%;
    height: auto;
    display: block;
    max-width:1000px;
    justify-content: center;
    box-shadow: 0 4px 32px gray;
    text-align: center;
    box-sizing: border-box;
}

.infoWindow h2{
    text-align: center;
    font-size: 25px;
    font-family: sans-serif;
}
.infoWindow p, li{
    text-align: left;
    font-size: 15px;
    font-family: sans-serif;
}

.envImg{
    width: auto;
    max-height: 300px;
    object-fit: cover;
    display: block;
    margin: 20px auto;
    justify-content: center;
    box-sizing: border-box;
}







