<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  href="{{ url_for('static', filename = 'style.css') }}">
    <title>Title</title>
</head>

<body>
    <div>
        <header>
             <a class = "homeLogo" href="{{ url_for('homepage') }}">ZeroHero</a>
            <div class = "userStats">
                {% if user %}
                    <span>Welcome, {{ user.username }}</span>
                    <span>You have {{ user.points }} points</span>
                    <span>Daily Streak: {{ user.streak }}</span>
                {% else %}
                    <span>Sign/Register to see how many points you have!</span>
                {% endif %}
                {% if not session.userID %}
                    <a href = "{{ url_for('login') }}" class="button">Register/Sign In</a>
                {% else %}
                    <a href = "{{ url_for('logout') }}" class="button">Log Out</a>
                {% endif %}
            </div>          
        </header>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash {{category}}">{{message}}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="treeImages">
            {%if user%}
                <img src="{{url_for('static', filename='images/' + tree + '.png')}}">
            {%else%}
                <img src="{{url_for('static', filename='images/large.png')}}">   
            {%endif%}
            
        </div>

        <nav>
            {% if session.userID %}
                <a href = "{{ url_for('travelLogging') }}" >Travel Logging</a>
                <a href = "{{ url_for('progressTrack') }}" >Track Progress</a>
                <a href = "{{ url_for('leaderboard') }}" >Leaderboard</a>
                <a href = "{{ url_for('information') }}" >Information</a>
            {% else %}
                <a href = "{{ url_for('login') }}">Travel Logging <em>(Requires Sign In)</em></a>
                <a href = "{{ url_for('login') }}">Track Progress <em>(Requires Sign In)</em></a>
                <a href = "{{ url_for('login') }}">Leaderboard <em>(Requires Sign In)</em></a>
                <a href = "{{ url_for('login') }}">Information <em>(Requires Sign In)</em></a>
            {% endif %}
        </nav>
    </div>
</body>

</html>


