<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  href="{{ url_for('static', filename = 'style.css') }}">
    <title>Title</title>
</head>

<body>
    <div class="window">
        <div class = "header">
            <a class = "logo" href="{{ url_for('homepage') }}">Zero Hero</a>
            {% if not session.userID %}
                <a href = "{{ url_for('login') }}" class="submitButton">Register/Sign In</a>
            {% else %}
                <a href = "{{ url_for('logout') }}" class="submitButton"> Log Out</a>
            {% endif %}
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash {{category}}">{{message}}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% if user %}
        <div class = "userStatsHome">
            <span>Points: {{ user.points }}</span>
            <span>Login Streak: {{ user.streak }}</span>
        </div>
        {% else %}
            <span>Log in to see how many points you have.</span>
        {% endif %}

        <div class="treeImages">
            <p>Tree Image (Will go here in the coming days)</p>
        </div>

        <nav class="footerNav">
            {% if session.userID %}
                <a href = "{{ url_for('travelLogging') }}" class="navButton">Travel Logging</a>
            {% else %}
                <a href = "{{ url_for('login') }}" class="navButton">Travel Logging (Log In First)</a>
            {% endif %}
        </nav>
    </div>
</body>
</html>