<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  href="{{ url_for('static', filename = 'style.css') }}">
    <title>Home</title>
</head>

<header>
    <a class = "homeLogo" href="{{ url_for('homepage') }}">ZeroHero</a>
    <div class = "homeWelcome">
        {% if user %}
            <span>Welcome, {{ user.username }}</span>
        {% else %}
            <span>Sign In/Register to Start Saving the Environment</span>
        {% endif %}
    </div>        
    {% if not session.userID %}
        <a href = "{{ url_for('login') }}" class="button">Register/Sign In</a>
    {% else %}
        <a href = "{{ url_for('logout') }}" class="button">Log Out</a>
    {% endif %}
</header> 

<body>
    <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash {{category}}">{{message}}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="treeImages">
            {%if user%}
                <div class="treeUserStats">
                    <span>Points: {{ user.points }}</span>
                    <span>Daily Streak: {{ streak }}</span>
                </div>
                <img src="{{url_for('static', filename='images/' + tree + '.png')}}">
            {%else%}
                <div class="treeUserStats">
                    <span>Start your eco-friendly journey today!</span>
                </div>
                    <img src="{{url_for('static', filename='images/large.png')}}">   
            {%endif%}
            
        </div>

        <nav>
            {% if session.userID %}
                <a href = "{{ url_for('travel_logging') }}" >Travel Logging</a>
                <a href = "{{ url_for('progress_track') }}" >Track Progress</a>
                <a href = "{{ url_for('leaderboard') }}" >Leaderboard</a>
                <a href = "{{ url_for('information') }}" >Information</a>
            {% else %}
                <a href = "{{ url_for('login') }}">Travel Logging <em>(Requires Sign In)</em></a>
                <a href = "{{ url_for('login') }}">Track Progress <em>(Requires Sign In)</em></a>
                <a href = "{{ url_for('login') }}">Leaderboard <em>(Requires Sign In)</em></a>
                <a href = "{{ url_for('login') }}">Information <em>(Requires Sign In)</em></a>
            {% endif %}
        </nav>
    </div>
</body>

</html>


