<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
    <title>Information</title>
</head>

<header>
    <a class = "homeLogo" href="{{ url_for('homepage') }}">ZeroHero</a>
    <div class = "homeWelcome">
        {% if user %}
            <span>Welcome, {{ user.username }}</span>
            <br>
            <span>Points: {{ user.points }}</span>
            <span>Daily Streak: {{ user.streak }}</span>
        {% else %}
            <span>Sign In/Register to Start Saving the Environment</span>
        {% endif %}
    </div>        
    {% if not session.userID %}
        <a href = "{{ url_for('login') }}" class="button">Register/Sign In</a>
    {% else %}
        <a href = "{{ url_for('logout') }}" class="button">Log Out</a>
    {% endif %}
</header> 

<body>
    <main>
        <div class="infoWindow">
            <h2>Our Environment</h2>
            <p>According to UNESCO, "the term 'environment' refers to the surrounding conditions in whic living organisms exist, encompassing both natural and human-made elements". Our environment is an amazing thing, but human activity is harming it more now than ever before. With the rise of AI usage, emissions are at an all time high. <br><br> With this app, you can help play your part in saving the environment. Below are some general tips and tricks, and some links to other useful online resources for you. Saving the environment should be fun and rewarding, not a chore.</p>
            <img src=" {{ url_for('static', filename='images/environment info.png') }}" class="envImg">
            <h2>Tips and Tricks</h2>
            <p>General tips and tricks to help save our environment:</p>
            <ul>
                <li>Turn off all lights/taps if they are not in use.</li>
                <li>Switch to energy efficient appliances. LED bulbs use significantly less power than an incadescent bulb and often last much longer.</li>
                <li>The four Rs: refuse, reduce, reuse and recycle.</li>
                <li>Switch to public transport (e.g. buses, trains, etc.). <strong>Use the travel logging feature to see how much carbon your journey uses</strong></li>
                <li>Consider buying second-hand over brand new.</li>
            </ul>
            <p>These tips not only save the environment, but help save you money on your bills and general spending.</p>
            <h2>Useful Resources</h2>
            <p>For more information on how to play your part in saving the environment, check out the links below:</p>
            <ul>
                <li> <a href="https://www.wwf.org.uk/thingsyoucando">WWF - 10 Things You Can Do to Save the Environment</a></li>
                <li> <a href="https://www.bbc.co.uk/bitesize/articles/zrsbn9q">BBC Bitesize - Protecting the Environment</a></li>
                <li> <a href="https://greenlivinguk.uk/">Green Living UK</a></li>
            </ul>

            <a href="{{url_for('homepage')}}" class="submitButton">Return Home</a>

        </div>

    </main>
    <nav>
        <a href = "{{ url_for('travel_logging') }}">Travel Logging</a>
        <a href="{{ url_for('progress_track') }}">Track Progress</a>
        <a href="{{ url_for('leaderboard') }}">Leaderboard</a>
        <a href="{{ url_for('information') }}" class="active">Information</a>
    </nav>
</body>
</html>