<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  href="{{ url_for('static', filename = 'style.css') }}">
    <title>Sign In</title>
</head>


<div class = "loginWindow">
    <a class = "loginLogo" href="{{ url_for('homepage') }}">ZeroHero</a>
    <div class = "toggles">
        <a href ="{{ url_for('register') }}">Register</a>
        <a href ="{{ url_for('login') }}" class="active" >Sign In</a>
    </div>

    <form method = "POST">
        <div class="field">
            <input type="text" name="usernameEmail" placeholder="Username/Email" required>
        </div>
        <div class="field">
            <input type="password" name="password" id ="password" placeholder="Password" required>
            <label class="showPassword">
                <input type="checkbox" onclick="hideShow()">Show/Hide
            </label>
        </div>     

        <button class="submitButton">Sign In</button>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash {{category}}">{{message}}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </form>

    <script>
    function hideShowPass(){
        var password = document.getElementById("password")
        if (password.type === "password"){
            password.type = 'text';
        }else{
            password.type = 'password';
        }
    }
    </script>
</div>
</html>
