<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  href="{{ url_for('static', filename = 'style.css') }}">
    <title></title>
</head>


<div class = "window">
    <a class = "logo" href="{{ url_for('homepage') }}">Zero Hero</a>
    <div class = "buttons">
        <a href ="{{ url_for('register') }}" class="toggleButton.active" >Register</a>
        <a href ="{{ url_for('login') }}" class="toggleButton" >Sign In</a>
    </div>

    <form class="formWindow" method = "POST">
        <input type="text" name="username" placeholder="Username" required>
        <input type="text" name="email" placeholder="Email Address" required>
        <input type="password" name="password" placeholder="Password" required>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash {{category}}">{{message}}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <button class="submitButton">Register</button>
    </form>
</div>