<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
    <title>Title</title>
</head>


<div class="container centralContainer">
    <header class = "userStats">
        <a class = "logo" href="{{ url_for('homepage') }}">Zero Hero</a>
        <div class = "stats">
            <span>Welcome, {{ user.username }}</span>
            <span>You have {{ user.points }} points</span>
        </div>
    </header>

    <section class="travelLoggingForm">
        <h2>Log Your Travel</h2>
        <form class = "formWindow" method = "POST">
            <label>Transport Type:</label>
            <select name="transportType" id="transportType">
                <option value="" disabled selected>Select transport type...</option>
                {% for transport in transportTypes%}
                    <option value="{{ transport.id }}">{{ transport.transport }}</option>
                {% endfor %}
            </select>

            <label>Distance Travelled</label>
            <div>
                <input type="number" step="any" name="distance" placeholder="Distance Travelled...">
                <select name="milesKM">
                    <option value="km">KM</option>
                    <option value="miles">Miles</option>
                </select>
            </div>
            <div>
                <button name = 'journeyAction' value = 'Add' class="submitButton">Add to Journey</button>                
                {% if currentJourney %}
                    <h3>Current Journey: </h3>
                    {% for seg in currentJourney %}
                        <p> {{seg.transport}} - {{seg.distance}}km - {{seg.carbonUse}}kg C02</p>
                    {%endfor%}
                {% endif %}

                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="flash {{category}}">{{message}}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <button name ='journeyAction' value='Submit Journey' class="submitButton">Submit Full Journey</button>
            </div>

        </form>
    </section>
    <nav class="bottomNav">
        <a href = "{{ url_for('travelLogging') }}" class="navButton.active">Travel Logging</a>
    </nav>
</div>

</html>